*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;

}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

.text-center{
    text-align: center;
}


.tbl-full{
    width: 100%;
}  
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}


/* CSS for Header */

.logo{
    width: 10%;
    float: left;
    margin-top: 15px;
}

.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.header{
    line-height: 60px;
}
.header ul{
    list-style-type: none;
}
.header ul li{
    display: inline;
    padding: 1%;
}
.header ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #feca57;
}
.header ul li a:hover{
    color: #ff9f43;
}

/* CSS for main-content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Footer */
.footer{
    background-color: #ff9f43;
    color: white;
}

/* CSS for Login */
.login{
    border: 1px solid grey;
    width: 30%;
    margin: 10% auto;
    padding: 2%;
}








